# === Python / Django ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
media/

# Virtual environment (inside backend)
backend/venv/

# Env files (secrets)
.env
.env.*
*.env

# === Node / React ===
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*



# === IDEs / Editors ===
.vscode/
.idea/
*.swp
*.swo

# === OS Files ===
.DS_Store
Thumbs.db

# === Test / Coverage ===
coverage/
*.cover
*.py,cover
.hypothesis/
.pytest_cache/


# Allow backend build.sh
!backend/build.sh